@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
:root{
    --fonte_padrao: normal 3.5vw 'Sriracha', verdana;
    --fonte_titulo: normal 8vw 'Passion One', serif;
    --fonte_subtitulo: normal 2.5vw Verdana, sans-serif;
}


/*Cabeçalho*/

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 45px 20px;
}
header > h1 {
    font-variant: small-caps;
    font: var(--fonte_titulo);
}
header > nav{
    padding-top: 10px;
    font-size: 0.7em;
}
header  a{
    font: var(--fonte_subtitulo) ;
    color: rgb(255, 255, 255);
}
header a:visited{
    text-decoration: aliceblue;
}
/*Principal*/

main p{
    margin: 10px 0px 10px 0px;
    font: var(--fonte_padrao);
    line-height: 2em;
    padding: 1em 0px 1em 0.3em;
}
section{
    padding: 10vh 0px 10vh 0px;
    padding-left: 5vw;
}
section.normal{
    background-color: rgba(247, 235, 206, 0.597);
}
section.imagem{
    box-shadow: 1px 5px 10px inset rgba(0, 0, 0, 0.405);
}
.imagem p{  
    color: white;
    background-color: rgba(0, 0, 0, 0.529);
    display: inline-block;
    padding-right: 5px;
}
#fundo1{
    background: rgb(2, 60, 24) url('imagens/background001.jpg') center right no-repeat fixed;
    background-size: cover;
}
#fundo2{
    background: rgb(222, 195, 150) url('imagens/background002.jpg') center center no-repeat fixed;
    background-size: cover;
}


/*Rodapé*/

footer{
    font-family: Verdana, sans-serif;
    padding: 10px;
    text-align: center;
    background: black;
    color: white;
}
footer  a{
    color: white;
}